<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>{% block titleblock %} Film Cloud - Social Movie Recommendations{% endblock titleblock %}</title>

 <link href="{{ MEDIA_URL }}topmovies/theme/style.css" rel="stylesheet" type="text/css" media="screen" />
 <link href="{{ MEDIA_URL }}topmovies/theme/options/header-default.css" rel="stylesheet" type="text/css" media="screen" />
 <link href="{{ MEDIA_URL }}topmovies/theme/options/content-default.css" rel="stylesheet" type="text/css" media="screen" />

  <!--[if lte IE 6]>
   <style type="text/css" media="all">@import "ie6.css";</style>
  <![endif]-->

 <script src="{{ MEDIA_URL }}topmovies/theme/js/jquery.js" type="text/javascript"></script>
 <script src="{{ MEDIA_URL }}topmovies/theme/js/arclite.js" type="text/javascript"></script>

 <script src="{{ MEDIA_URL }}topmovies.js" type="text/javascript"></script>
 <link href="{{ MEDIA_URL }}movie_style.css" rel="stylesheet" type="text/css" media="screen" />

 <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/fonts/fonts-min.css" />

 <script src="http://yui.yahooapis.com/2.8.0r4/build/yahoo/yahoo-min.js"></script>
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/logger/logger-min.js"></script> 

 <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/container/assets/skins/sam/container.css" />
 <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/carousel/assets/skins/sam/carousel.css"> 
 <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/button/assets/skins/sam/button.css" />
 <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/container/assets/skins/sam/container.css" />

 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/element/element-min.js"></script> 
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/container/container-min.js"></script>
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/selector/selector-min.js"></script>
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/animation/animation-min.js"></script> 
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/carousel/carousel-min.js"></script> 
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/cookie/cookie-min.js"></script> 
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/button/button-min.js"></script>
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/dragdrop/dragdrop-min.js"></script>
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/connection/connection-min.js"></script>
 <script type="text/javascript" src="http://yui.yahooapis.com/2.8.0r4/build/json/json-min.js"></script> 

 <script src="{{ MEDIA_URL }}MovieCarousel.js" type="text/javascript"></script>

 <script src="{{ MEDIA_URL }}topmovies/lightbox/jquery.prettyPhoto.js" type="text/javascript"></script>
 <link href="{{ MEDIA_URL }}topmovies/lightbox/prettyPhoto.css" rel="stylesheet" type="text/css" media="screen" />

 {% block headblock %}
 
 {% endblock headblock %}

 <style type="text/css">
	.yui-skin-sam .yui-carousel-item-loading {
		text-indent: 0px;
	}

	/* Always be sure to give your carousel items a width and a height */
	.yui-carousel-element li {
	    width: 170px;
	    height: 205px;
		margin: 5px;
	}

	.yui-carousel-element .yui-carousel-item-selected {
	    border:1px solid #CCCCCC;
	    width: 170px;
	    height: 205px;
		margin: 5px;	
	}

	.yui-carousel-content {
		background-color: white;
	}
 </style>

 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>


<body class="yui-skin-sam">
	
 <!-- page -->
 <div id="page">
	
  <div id="header-wrap">
   <div id="header" class="block-content">
     <div id="pagetitle">
      <h1 class="logo"><a href="/">Film Cloud</a></h1>
      <h4>The movies the internet is watching</h4>
      <div class="clear"></div>

     </div>

     <!-- main navigation -->
     <div id="nav-wrap1">
      <div id="nav-wrap2">
        <ul id="nav">
         <li><a href="/" class="fadeThis"><span>Home</span></a></li>
         <li><a href="/categories" class="fadeThis"><span>Categories</span></a>
           <ul>
			{% for category in menu_categories %}
            	<li><a href="/{{ category.name|lower }}" class="fadeThis"><span>{{ category.name|capfirst }}</span></a></li>
			{% endfor %}
			<li><a href="/categories" class="fadeThis"><span>Show All</span></a></li>
           </ul>
         </li>
		{% if user.is_staff %}
	         <li><a href="/admin" class="fadeThis"><span>Admin</span></a>
	           <ul>
	            <li><a href="/admin/topmovies/moviecategory/" class="fadeThis"><span>Categories</span></a></li>
	            <li><a href="/admin/topmovies/getmoviefailure/" class="fadeThis"><span>Failures</span></a></li>
	            <li><a href="/admin/topmovies/topmovie/" class="fadeThis"><span>Movies</span></a></li>
	           </ul>
	         </li>
		{% endif %}
         <li><a href="/about" class="fadeThis"><span>About</span></a></li>
        </ul>
      </div>
     </div>
     <!-- /main navigation -->

   </div>
	<!-- /header navigation -->
  </div>



   <div id="main-wrap1">
    <div id="main-wrap2">
     <div id="main" class="block-content">
      <div class="mask-main rightdiv">
       <div class="mask-left">
        <div class="col1" style="width: 100%">
          <div id="main-content">
			{% block content %}


			{% endblock content %}
</div>
	         </div>

	       </div>
	      </div>
	      <div class="clear-content"></div>
	     </div>


	    </div>
	   </div>

	  </div>

   <script>
       //Enable debug to console
       YAHOO.widget.Logger.enableBrowserConsole(); 
	   var showEditLink = false;
	   {% if request.GET.showEditLink %}
			showEditLink = true;
	   {% endif %}
   </script>

	 <!-- footer -->
	 <div id="footer">
	  <div class="block-content">
	     <div class="copyright">
			This site was developed by <a href="mailto:cavenaghweb@hotmail.com">Sam Cavenagh</a> |
			Arclite theme by <a href="http://digitalnature.ro/projects/arclite">digitalnature</a>
			{% if is_prod %}
				<script type="text/javascript">
					var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
					document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
				</script>
				<script type="text/javascript">
					try {
						var pageTracker = _gat._getTracker("UA-6933374-3");
						pageTracker._trackPageview();
					} catch(err) {}
				</script>
			{% else %}
				| Dev Server
			{% endif %}
	     </div>
	  </div>
	 </div>
	 <!-- /footer -->

</div>
<!-- /page -->

</body>

</html>