h1, h1 a, h2, h2 a, h4 {
	text-decoration: none;
	color: #414141;
}

.movieCarouselWrapper{
    float: left;
    margin-bottom:10px;
}

.carouselHolder{
    margin: 0 auto;
}

.movieWrapperDiv {
    width: 160px;
    height: 195px;    
    padding: 5px; 
    position : relative;
}

.movieTitle {
    padding-left: 5px;
    padding-top: 5px;
    font-weight: bold;
}

.movieTitle a {
    text-decoration: none;
    color: black;
}

.movieYear {
    position: absolute;
    bottom: 5px;    
    left: 10px;
}

.moviePosterDiv {
    position: absolute;
    top: 32px;
    right: 35px;
    float: right;
}

.editLink {
    position: absolute;
    bottom: 2px;
    left: 43px;    
}

.youtubeLink {
    position: absolute;
    bottom: 3px;
    right: 45px;    
}

.imdbLink {
    position: absolute;
    bottom: 3px;
    right: 25px;    
}

.customLink {
    position: absolute;
    bottom: 3px;
    right: 5px;    
}

.fakeLink {
    cursor: pointer;
    text-decoration: underline;
}

.overclear {
	width: 100%;
	overflow: hidden;
}

.hidden {
    visibility:hidden;
}

#customLinkConfigWrapper {
    text-align: right;
    padding-top: 3px;
    padding-right: 3px;
}

#customLinkConfig {
    font-style:italic;
    font-size: 0.8em;
}

.tm-formLabel {
   font-weight: bold;
}

#aboutDiv {
    width: 800px; 
    font-size: 18px;
    text-align: justify;   
}
